* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.周边玩偶 p {
  margin: 40px 0 0 0;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.商品框 {
  display: flex;
  width: 100%;
  height: 400px;
  padding: 20px;
  justify-content: space-around;
  margin: 5px auto;
}

.商品 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 350px;
  background-color: #e7e7e7;
  border-radius: 10px;
}

.照片 {
  height: 90%;
  display: flex;
  justify-content: center;
}

.照片 img {
  display: flex;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 10px;
}

.name {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name p {
  font-size: 25px;
  font-weight: bold;
}

.关于{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  background-color: #485696;
  color: #e7e7e7;
}

.注释 {
  margin: 0 0 20px 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: #485696;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.网站{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  border-radius: 15px;
}
.网站 a{
  color: #b9b4b4;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
  padding: 5px 0 0 0;
}
.网站 p{
  color: #e7e7e7;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
}
.网站:hover{
  background-color:rgba(180, 180, 180, 0.15);
}
