* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.配音演员 p {
  margin: 40px 0 0 0;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .box-container {
  width: 100%;
  height: fit-content;
  border: solid 2px gray;
} */

.box {
  width: 1200px;
  height: 400px;
  overflow: hidden;
  background-color: #485696;
  color: #e7e7e7;
  border-radius: 15px;
  font-size: 30px;
  margin: 20px auto;
  transition: transform 0.45s ease, opacity 0.5s linear;
  /*居中*/
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.box:nth-child(even) {
  transform: translateX(-200%);
  opacity: 0;
}

.box:nth-child(odd) {
  transform: translateX(200%);
  background-color: #F9C784;
  color: #000000;
  opacity: 0;
}

.box.show-center {
  transform: translateX(0);
  opacity: 1;
}

.照片 {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.照片 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.介绍 {
  width: 70%;
  height: 100%;
  padding: 30px 20px;
}

.介绍 p {

  word-wrap: break-word;
  word-break: break-all;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 9px;
  line-height: 150%;
  text-indent: 3em;
}

.关于{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  background-color: #485696;
  color: #e7e7e7;
}

.注释 {
  margin: 0 0 20px 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: #485696;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.网站{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 150px;
  border-radius: 15px;
}
.网站 a{
  color: #b9b4b4;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
  padding: 5px 0 0 0;
}
.网站 p{
  color: #e7e7e7;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 5px;
}
.网站:hover{
  background-color:rgba(180, 180, 180, 0.15);
}
